.SignInForm {
  display: flex;
  flex-direction: column;
}
.SignInForm .btn {
  background-color: var(--btn-primary);
  color: var(--btn-color-primary);
}
.SignInForm h2 {
  color: var(--text-color-light);
}
